#Force non-www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.yourwebdoctor\.com [NC]
RewriteRule ^(.*)$ https://yourwebdoctor.com/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ [b]https://yourwebdoctor.com[/b]/$1 [R=301,L]


# 1 Month for most static assets
#<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
#Header set Cache-Control "max-age=2592000, public"
#</filesMatch>

ErrorDocument 404 /404.html
