#Force non-www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.yourwebdoctor\.com [NC]
RewriteRule ^(.*)$ https://yourwebdoctor.com/$1 [L,R=301]

# This allows you to redirect index.html to a specific subfolder
Redirect /index.html https://yourwebdoctor.com/

# 1 Month for most static assets
#<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
#Header set Cache-Control "max-age=2592000, public"
#</filesMatch>

ErrorDocument 404 /404.html
