/* reset css */

/* 43AADD   43AADD  */

/* seo mechanic green: 54AF4F */

ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, p {
    padding:0;
    margin:0;
}


p {
    margin-bottom: 14px;
}

a {
    color: #f44242;
}

body {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    margin: 0;
    -webkit-font-smoothing: antialiased;    
    color: #333333;
    background-color: #ffffff;

}









/* navigation */

.container-nav {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #0D2E4D;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
}

.topnav .phone {
  float:right;

} 


.topnav .phone:hover {
  cursor: default;
  color: #ffffff;
} 


.topnav a:hover {
  color: #43AADD;
  cursor: pointer;
}


.topnav .icon {
  display: none;
}











/* hero */
.hero {
    /*background-image: url('/images/hero-bg-wp.png'); */
    background-color: #0A1E36;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.hero h1 {
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    font-weight: 800;
    padding-top: 40px;
    line-height: 80px;
}

.hero p {
    color: #c7dbfc;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 700px;
    line-height: 40px;
    margin-top: 20px;
}

.hero .testimonial {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #FF801C;
    max-width: 650px;
    padding: 20px 30px 25px 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-style: italic;
}

.hero .testimonial .name {
   text-align: right;
   font-weight: bold;
   margin-top: 10px;
}

.hero .contact-line {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.hero .contact-line .message {
    color: #ffffff;
    float: left;
    font-style: italic;
    padding-top: 12px;
}

.hero .contact-line .send-message {
    float: right;
    padding-top: 12px;
}

.hero .contact-line .send-message a {
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   background-color: #FF801C;   
   border-radius: 30px;
   padding: 12px 20px 12px 20px;
}


.hero .contact-line .send-message:hover {
}















/*  section intro */

.section-intro {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.section-intro .content {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color:#ffffff; /* #efefef */
    font-size: 21px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;    
}

.section-intro .content h2 {
    max-width: 600px;
    font-size: 36px;
    margin-left: 10%;
    margin-right: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 46px;
}


.section-intro .content p {
    margin-top: 40px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    margin-left: 20px;
    padding-right: 20px;

}



.section-intro .content ul {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-top: 30px;
    padding-left: 35px;
    padding-right: 15px;
}

.section-intro .content ul li {
    margin-bottom: 26px;
}









/* about section */

.about-section {
    width: 100%;
    /* background-color:#f7f7f7;  light grey */
    background-color:#ffffff;
    padding-top: 120px;
    padding-bottom: 160px;        
}

.about-section .content {

    color: #333333;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}

.about-section .content h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 42px;
}


.about-section .content .sections {
    width: 100%;
}

.about-section .content .sections .section1 {
    width: 64%;
    margin-right: 4%;
    float: left;
    font-size: 21px;	
    line-height: 1.65;
}


.about-section .content .sections .section2 {
    width: 32%;
    float: left;
    padding-top: 10px;
}

.about-section .content .sections .section2 img {
    width: 100%;
}

.about-section .content ul {
    margin-left: 20px;    
    margin-top: 10px;
    margin-bottom: 30px;
}


.about-section .content .listtitle {
    font-weight: bold;
}

.about-section .content ul li {
}










/* portfolio */

.portfolio {
   background-color:#f7f7f7;
} 



.portfolio .content {
   padding-top: 40px;
   padding-bottom: 140px;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 40px;
   padding-right: 40px;
}


.portfolio .content h2 {
    max-width: 780px;
    color: #222222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding-bottom: 60px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio .content .item {
    float: left;
    width: 49%;		
    margin-bottom: 2%;
}

.portfolio .content .space {
    float: left;
    width: 2%;
    color: #ffffff;
}

.portfolio .content .item img:hover {
      outline: 2px solid #888888;
      outline-offset: -1px;
}

.portfolio .content .item img {
    width: 100%;		
}












.contact-section {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 160px;        
}

.contact-section .content {
    color: #333333;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}


.contact-section .content  p {
    font-size: 21px;
    line-height: 1.65;
    text-align: center;
}


.contact-section .content h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 42px;
}


.contact-section .content .sections {
    width: 100%;
}

.contact-section .content .sections .section1 {
    width: 64%;
    margin-right: 4%;
    float: left;
    font-size: 21px;	
    line-height: 1.65;
}


.contact-section .content .sections .section2 {
    width: 32%;
    float: left;
    padding-top: 10px;
}

.contact-section .content .sections .section2 img {
    width: 100%;
}

.contact-section .content ul {
    margin-left: 20px;    
    margin-top: 10px;
    margin-bottom: 30px;
}


.contact-section .content .listtitle {
    font-weight: bold;
}

.contact-section .content ul li {
}















/* testimonials page*/


.testimonials-page-title {
    background-color: #efefef;
    text-align: center;
    padding: 40px 20px 40px 20px;
}


.testimonials-page-title h1 {
    font-size: 50px;
}

.testimonials-page-title p {
    font-size: 24px;
    color: #0D2E4D;
    font-style: italic;
    font-weight: bold;
}

.testimonials {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.testimonials  h2 {
   text-align: center;
   margin-top: 60px;
   margin-bottom: 20px;
   font-size: 30px;
}

.testimonials  p {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 14px;
    margin-top: 0px;

}

.testimonials  a {
    color: #ea6045;
    text-decoration: underline;
}

.testimonials  a:hover {
    color: #ed7a63;
}


.testimonials  h3 {
   text-align: left;
   margin-top: 20px;
   margin-bottom: 20px;
}

.testimonials  .horizontal-line {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-top:20px;
}

.testimonials .testimonial {
   background-color: #d6ffd6;
   border-radius: 10px;
   padding: 10px 20px 10px 20px;
   margin-top: 25px;
   margin-bottom: 60px;
}

.testimonials .testimonial p{
   font-style: italic;
}





















/* send message */

.send-message-section {
    width: 100%;
    background-color: #0A1E36;   
    padding-top: 70px;
    padding-bottom: 70px;
}

.send-message-section h2 {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}


/* Style inputs with type="text", select elements and textareas */


.send-message-section .container82 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0A1E36;   
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 18px;
}

/* Style the submit button with a specific background color etc */

.container82 input[type=submit] {
    background-color: #EF9C00;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 18px;
    border-width: 0px;
}


.container82 textarea {
    font-size: 18px;

}

/* When moving the mouse over the submit button, add a darker green color */
.container82 input[type=submit]:hover {
    background-color: #efb240;
}

/* Add a background color and some padding around the form */
.container82 {
    padding-left: 25px;
    padding-right: 25px;
}

.container82 .button82 {
    margin-top: 40px;
    text-align:center;
    border-radius: 7px;
    box-shadow: none;

}













/* footer */

footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #333333;
}

footer a:hover {
    text-decoration: underline;   
}






.clear {
    clear: both;
}







@media screen and (max-width: 900px) {


  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  
 
.hero h1 {
    font-size: 60px;
    line-height: 85px;
}

.hero .contact-line {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.hero .contact-line .message {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 30px;

}

.hero .contact-line .send-message {
    float: none;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero .contact-line .send-message a {
   color: #ffffff;
   text-decoration: none;
   font=weight: bold;
}


.hero .contact-line .send-message:hover {
}





.hero .testimonial {
    margin-left: 20px;
    margin-right: 20px;
}

.hero .testimonial .name {
   text-align: right;
   font-weight: bold;
   margin-top: 10px;
}

    .portfolio {
        padding-top: 30px;
    }

    .portfolio .content .item {
        width: 100%;		
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 3%;
    }


    .portfolio .content .item {
        width: 100%;		
     }

    .portfolio .content .space {
        width: 0%;
    }


    .portfolio .content {
        padding-left: 10px;
        padding-right: 10px;
    }




    .about-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }



    .about-section .content .sections .section1 {
        width: 100%;
        margin-right: 0%;
    }


    .about-section .content .sections .section2 {
        width: 100%;
        padding-top: 20px;
    }




    .portfolio .content {
        padding-top: 0px;
        padding-bottom: 60px;
    }


    .portfolio .content h2 {
        margin-top: 60px;
    }


}









@media screen and (max-width: 680px) {


    .hero h1 {
        font-size: 40px;
	line-height: 55px;
    }


    .container .frontpage .portfolio .item {
        width: 100%;		
    }

    .portfolio .content .item {
        width: 100%;		
    }

    .container .frontpage .portfolio .space {
        width: 0%;
    }


    .container .frontpage .hero h1 {
        font-size: 48px;
        line-height: 55px;
    }


    .container .frontpage {
        margin-top: 2%;
    }

    .white-section video {
        max-width: 550px;
    }


}



